{
  "presets": [["env", { "modules": false }]],
  "plugins": ["transform-decorators-legacy"],

  "env": {
    "test": {
      "presets": [["env"]]
    },

    "production": {
      "plugins": ["transform-decorators-legacy", "external-helpers"]
    }
  }
}
